<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Create Department</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <hr>
                    <h3>Create Department Form</h3>
                    <form th:action="@{/departments/add}" th:object="${departmentAdd}" method="POST">
                        <div class="form-group">
                            <input type="text" th:field="*{name}" placeholder="Name of Department" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                    <hr>
                    <a th:href="@{/departments}">Back To Home</a>
                </div>
            </div>
        </div>
    </body>
</html>
