<!doctype html>
<html lang="en">
<head th:replace="_layout::head-section">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title >Home - HR App</title>
</head>
<body>
<div th:replace="_layout::wrapper">
    <div id="main">
        <div th:include="::#main-content"></div>
    </div>
</div>
<div id="main-content">
    <p>Welcome</p>
</div>
</body>
</html>