<!doctype html>
<html lang="en">
<head th:replace="_layout :: head_layout">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title id="title">Department Catalog</title>
</head>
<body>
    <div th:replace="_layout :: main_layout">
        <div id="main">
            <div th:replace=":: #department-list">
                <div class="container-fluid" id="department-list">
                    <div class="d-flex justify-content-between">
                        <h2>Department Listing</h2>
                        <button class="btn btn-sm btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#departmentModal"
                                onclick="create()">
                            <i class="fa fa-sm fa-plus"></i>&nbsp;department
                        </button>
                    </div>
                    <br>
                    <table class="table" id="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Department id</th>
                            <th scope="col">Department name</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="departmentModal"  aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Department Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="#" method="POST" class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label class="form-label">Department Name</label>
                            <input type="text" class="form-control input-data" id="departmentName" required>
                            <div class="invalid-feedback">Please input department name</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" id="submitButton" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="_layout :: script"></div>
    <script src="/js/department.js"></script>
</body>
</html>