<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<footer class="main-footer" th:fragment="footer">
    <div class="footer-left col-md-6">
        Copyright &copy; 2020 <div class="bullet"></div> Design By <a href="#">Muhamad Nauval Azhar</a>
    </div>
    <div class="footer-right col-md-3">
        Development By <a href="#">Muhamad Firman Zega</a>  
    </div>

    <div class="col-md-12">
<!--        Development By <a href="#">Muhamad Firman Zega</a>-->
    </div>
</footer>
